/* * {
    box-sizing: border-box;
} */

body {
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height. */
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
}

.custom-footer {
    background-color: #424;
    color: #fff;
    border-top: 2px solid #555;
    padding: 0.5rem 0;
    margin-top: auto; /* Push the footer to the bottom. */
}

nav {
    background-color: #424;
    color: #fff;
    border-bottom: 2px solid #555;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border-color: #333; /* Add a border to input fields for better visibility */
}