# clear git cache: git rm -r --cached . 
# Setting up as whitelist:
/**

!currency-conversion
!currency-conversion/**

!harj_11_9_23/
!harj_11_9_23/**

!harj_12_9_23/
!harj_12_9_23/**

!harj_13_9_23/
!harj_13_9_23/**

!harj_15_9_23/
!harj_15_9_23/**

!harj_18_9_23/
!harj_18_9_23/**

!form_validation/
!form_validation/**

!logs/
!logs/**

!project1/
!project1/**

!sql_connect.php
!index.php
!package.json
!.gitignore

/**/*.txt
/**/*.log
/project1/user_data/**
node_modules/
**/node_modules/
vendor/
**/vendor/
